In [1]:
import pandas as pd
def ETL():
    us = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us.csv')
    jh = pd.read_csv('https://raw.githubusercontent.com/datasets/covid-19/master/data/time-series-19-covid-combined.csv?opt_id=oeu1602683047550r0.4929949464591361')
    us['date'] = pd.to_datetime(us['date'])
    jh['Date'] = pd.to_datetime(jh['Date'])
    us_jh = jh.loc[jh['Country/Region']=='US']
    us.rename({'date': 'Date'}, axis=1,inplace=True)
    US_COVID = us.merge(us_jh, on='Date', how='left', indicator=True)
    US_COVID = US_COVID[US_COVID['_merge']=='both']
    US_COVID.drop(['Province/State','Confirmed','Deaths','_merge'],axis=1,inplace=True)
    US_COVID=US_COVID[['Date','Country/Region','cases','Recovered','deaths']]
    return US_COVID
ETL()

          Date Country/Region     cases  Recovered  deaths
1   2020-01-22             US         1        0.0       0
2   2020-01-23             US         1        0.0       0
3   2020-01-24             US         2        0.0       0
4   2020-01-25             US         3        0.0       0
5   2020-01-26             US         5        0.0       0
..         ...            ...       ...        ...     ...
334 2020-12-20             US  17881332        0.0  317800
335 2020-12-21             US  18083055        0.0  319763
336 2020-12-22             US  18284729        0.0  323002
337 2020-12-23             US  18512479        0.0  326413
338 2020-12-24             US  18706036        0.0  329237

[338 rows x 5 columns]

In [2]:
ETL().to_csv('US_COVID.csv')